*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0b1828;
    background-image: linear-gradient(134deg , rgb(12, 26, 42) 0% , rgb(10, 23 , 38) 100%);
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
